<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <h1>Избери думи за изтриване</h1>
  <form  method="post" name="delete">
     <!--- <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1426530910##bafc59d28ee983c724d1a9c36e13393fb3ba15d2"></div>  --->
     {{ form.hidden_tag() }}
    <table> <tr>
     <td> <table> <tr>      
          <tr>   <!-- тук започват трите опции, текст фийлд, радио бутон и дроп даун меню -->
              <td>Израз/Дума:<br>
               {{ form.choice_for_del(size = num)}}</td> 
          </tr>

       <!-- Край на текстовите полета --->
        <tr> <td><input type="submit" value="Изтрий"></td></tr>  </form>
    </table> </td>  
    

  
      <!--flash  message -->
    
	
    {% with messages = get_flashed_messages() %}
	{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
     {% endif %}
	{% endwith %}


	
   
  





    
    <!---================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!--- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  x
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
<!---$( "ul li:nth-child(2)" ).append( "<span> - 2nd!</span>" );  --->
<!--- $( "table tr td:nth-child(1)").css( "background", "red" );  
$( "button" ).click(function() {
  var wordCenzor = $( "#cenzor" ).val();   
  var type = $( "input:radio[name=cenType]:checked" ).val();
  var weight = $( "#weight" ).val();
  $( "table tr td:nth-child(2)").css( "background", "white" );
  $( "#inner" ).append("<li>", wordCenzor," Тип: ",type," Тежест:",weight,"</li>" );
  $("#choices").append(wordCenzor,"-|-",weight,"-|-",type,"|-|" );
  $( "#cenzor" ).val("");
  var $radio = $( "input:radio[name=cenType]" );
  $radio.filter('[value=1]').prop('checked', true);
  $( "#weight" ).val(1);

});
</script>
    --->
    

{% endblock %}
